.page-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.equity-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.container-tiles{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 390px;
    
}

.propability{
    display: flex;
    align-items: center;
    justify-content: center;
    color: ivory;
    
}

.propability-item{
    padding: 40px;
}

.cards{
    display: flex;
    margin-bottom: 100px;
    margin-right: 200px;
}
.card{
    margin-left: 20px;
    background-color: rgb(226, 225, 225);
    height: 100px;
    width: 80px;
}

.slider{
    width:50%;
    
}

.button-position{
    
    border-radius: 10px;
    margin-top: 2px;
    padding: 7px;
    
}

.position-container{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 992px) {
    .equity-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 50px;
    }
    .position-container{
        display: flex;
        flex-direction: row;
        margin-right: 50px;
    }
  }